<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992686773528-p1lrhelb0ii63le75c7im83fn1afoiri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992686773528-p1lrhelb0ii63le75c7im83fn1afoiri</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBZRMb-1ox6D_qDv7oXU_a9onReMBLD0</string>
	<key>GCM_SENDER_ID</key>
	<string>992686773528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sweleague.moneymanager</string>
	<key>PROJECT_ID</key>
	<string>money-manager-f474e</string>
	<key>STORAGE_BUCKET</key>
	<string>money-manager-f474e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992686773528:ios:b01f9b7e8cd33b39923a6d</string>
</dict>
</plist>